<div class="span-18">
<table>
	<tr>
		<th> Coperta </th>
		<th> Carte </th>
		<th> ISBN </th>
		<th> Autori </th>
	</tr>
	<% @books.each do |b| %>
	<tr>
		<td>
			<img src="<%= b.cover_link %>" />
		</td>
		<td> <%= b.title %> </td>
		<td> <%= b.isbn %> </td>
		<td>
			<%= b.author.collect{|a| a.first_name}.join(', ') %>
		</td>
	</tr>
	<% end %>
</table>
</div>