<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Despre",  "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><%= link_to "Noutăţi", "#" %></li>
      <li>&copy;ROSEdu 2012</li>
    </ul>
  </nav>
</footer>
