<div class="topbar">
  <div class="topbar-container">
    <div class="topbar-logo-container">
      <img width="31" height="30" src="images/book_open.png" alt="Biblioteca ROSEdu" class="topbar-logo" />
    </div>
  </div>
</div>
